
<div style="top: 0;left: 0;bottom: 0;right: 0;height:100%;width:100;background-image: url(./assets/fullbg.jpg);background-repeat: no-repeat;background-size: cover;">
<header>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkslategrey;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">
                    <h5>Mentor On Demand</h5>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <button class="btn" style="background-color: darkslategrey; color: white;" (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</header>

    <div class="jumbotron jumbotron-fluid user-card">
        <div class="container">
            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Search Technologies" [(ngModel)]="search">
            </div>
        </div>
    </div>
    <section>

        <div class="container">
            <div class="col-md-4" *ngFor="let ms of mentorSkillDeets | searchskill:search"><br />
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: darkslategrey;color: white;">
                            <div class="card-body">
                                <br><br><br><br>
                                <h1 style="text-align: center; color: white;">{{ms.mentorFirstName+" "+ms.mentorLastName}} </h1>
                                <h2 style="text-align: center; color: white;">{{ms.mentorSkillName}} </h2>

                            </div>
                            <div class="card-footer">
                                <div class="alert alert-success" *ngIf="i==ms.mentorId && j==ms.mentorSkillId">
                                    The mentor has been nominated
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                
                                <h3>Skill Rating: {{ms.mentorSkillRating}}</h3>
                                <h3>Experience in Skill: {{ms.mentorSkillYOE}} years</h3>
                                <h5>Phone: {{ms.mentorPhone}} </h5>
                                <h5>Email: {{ms.mentorEmail}} </h5>
                                <h5>Linkedin URL: <a [href]="ms.mentorLinkedInURL"> {{ms.mentorLinkedInURL}} </a> </h5>
                            </div>
                            <div class="card-footer">
                                <button style="margin-top: auto; background-color: darkslategrey;"
                                    class="btn btn-block text-white" [disabled]="i==ms.mentorId && j==ms.mentorSkillId"
                                    (click)="onSubmit(ms.mentorSkillId,ms.mentorId)">
                                    Nominate for Training
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>